@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Daniel Benito Rosales</h1>
    <h4>
        danielbr.estatus@gmail.com
    </h4>
    <h5>
        Ingeniero en Sistemas
        Computacionales
    </h5>
    <h6>
        7121831010
    </h6>
    <p>Desarrollador Full Stack<hr />
        <a href="https://docs.microsoft.com/aspnet/core">
            Mi nombre es Daniel
            Benito Rosales y soy una
            persona profesional
            responsable y eficiente en
            busca de un puesto como
            desarrollador Full-Stack.
            Mi objetivo es obtener la
            mayor experiencia
            profesional en el uso de
            Frameworks que permitan
            facilitar las cosas a la hora
            de desarrollar
            aplicaciones. Tengo
            amplias habilidades de
            adaptarme a las
            circunstancias en
            proyectos y al trabajo en
            equipo además de poseer
            una capacidad de
            aprendizaje veloz.
        </a>.
    </p>
    <hr />
    <p class="">Copyright © Daniel Benito Rosales @DateTime.Now.Year - V1.0.0</p>
</div>
